*,
*::before
*::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f8efd3;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #6e5712;
}

#nav {
  height: 75px;
}

#wrap {
  position: relative;
  width: 1200px;
}

#column1, #column2 {
  width: 600px;
}

#column1 {
  float:left;
    clear: both;
}

.yum {
  font-family: 'Sarina', cursive;
  color: #E2BE4E;
  text-shadow: 1px 1px #6e5712;
  font-size: 30px;
}


#column2 {
  float:right;
}

h2 {
  font-family: 'Sarina', cursive;
  color: #E2BE4E;
  text-shadow: 1px 1px #6e5712;
  font-size: 72px;
}

ul {
  list-style: none;
}

#nav li {
  display:inline;
  float: right;
  padding-right: 60px;
  font-family: sans-serif;
}

.yum {
  position: absolute;
}

button {
  border-radius: 20px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #EDF0F1;
  font-size: 13px;
  font-weight: bold;
  color: #999999;
  margin-top: 35px;
}


#footer {
  height: 175px;
  position: fixed;
  left:20px;
  bottom:0px;
  width:100%;
  clear:both;
}

#footer > img {
  /*padding-right: 50px;*/
}

.gallery {

}
