*,
*::before
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes wiggle {
	0% {
		-webkit-transform:rotate(4deg);
	}
	50% {
		-webkit-transform:rotate(-4deg);
	}
	100% {
		-webkit-transform:rotate(4deg);
	}
}

.wiggle:hover {
	-webkit-animation: wiggle 0.5s infinite;
}

a {
  color: #6e5712;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
}

a:hover {
  color: #99cc00;
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;
}

body {
  background-color: #f8efd3;
  font-family: 'Varela Round', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #6e5712;
}

.brand {
  font-size: 18px;
  font-family: 'Sarina', cursive;
  padding-right: 5px;
}

button {
  position: absolute;
  transform: rotate(50deg);
  display: inline-block;
  margin-left: 65px;;
  margin-top: 160px;
  clear:both;
}

button:hover {
  opacity: 0.50;
}

#column1 {
  width: 500px;
  float:left;
  margin-left: -20px;
}

#column1 > img {
  position: relative;
  margin-left: -50px;
}

#column2 {
  width: 270px;
  float:right;
  padding: 5px;
  margin-right: 100px;
  margin-top: 50px;
}

#footer {
  height: 185px;
  position: fixed;
  left: 20px;
  bottom: 0px;
  width: 100%;
  padding: 20px;
  margin-left: -20px;
  background: -moz-linear-gradient(top,  #f8efd3 0%, #e2be4e 100%);
  background: -webkit-linear-gradient(top,  #f8efd3 0%,#e2be4e 100%);
  background: linear-gradient(to bottom,  #f8efd3 0%,#e2be4e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8efd3', endColorstr='#e2be4e',GradientType=0 );
}

.gallery {
	position: absolute;
  width: 1100px;
  margin-left: 130px;
}

.gallery img {
  padding-left: 20px;
  position: relative;
}

.gallery img:hover {
  opacity: 0.50;
}

h2 {
  font-family: 'Sarina', cursive;
  color: #99cc00;
  text-shadow: 1px 1px #6e5712;
  font-size: 90px;
  margin-top: -10px;
  margin-left: 150px;
  position: absolute;
}

#header {
  height: 185px;
  position: fixed;
  left:0px;
  top:0px;
  right: 0px;
  padding-right: 50px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  background: -moz-linear-gradient(top,  #e2be4e 0%, #f8efd3 100%);
  background: -webkit-linear-gradient(top,  #e2be4e 0%,#f8efd3 100%);
  background: linear-gradient(to bottom,  #e2be4e 0%,#f8efd3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2be4e', endColorstr='#f8efd3',GradientType=0 );
}

#nav {
  height: 75px;
  font-family: 'Varela Round', sans-serif;
}

#nav li {
  display:inline;
  float: right;
  padding-right: 60px;
  font-family: sans-serif;
  margin-top: 15px;
  position: relative;
  font-weight: 400;
}

table {
  border: 1px solid #6e5712;
  position: absolute;
  border-collapse: collapse;
  font-size: 11px;
  width: 240px;
}

td, th {
 border-bottom: 1px solid #000;
 text-align: left;
 padding-left: 10px;
 padding-right: 10px;
 }

 td {
   padding-top: .5em;
   padding-bottom: .5em;
 }

 td:nth-child(1) {
   font-weight: bold;
 }

th {
   font-size: 14px;
   padding-top: .8em;
   padding-bottom: .8em;
 }

ul {
  list-style: none;
}

#wrap {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.yum {
  font-family: 'Sarina', cursive;
  color: #6e5712;
  font-size: 30px;
  position: absolute;
  margin-left: 300px;
  margin-top: 150px;
}
