*,
*::before
*::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f8efd3;
}
#wrap {
  position: relative;
  width: 1200px;
}

#column1, #column2 {
  width: 600px;
}

#column1 {
  float:left;
    clear: both;
}


#column2 {
  float:right;
}

#nav h2 {
  font-family: 'Sarina', cursive;
  color: #E2BE4E;
  text-shadow: 1px 1px #6e5712;
  font-size: 72px;
}

ul {
  list-style: none;
}

#nav li {
  display:inline;
  float: right;
  padding-right: 60px;
  font-family: sans-serif;
}

.yum {
  position: absolute;
}

#footer {
  height: 250px;
}
